   *{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
   }
   nav{
    position: fixed;
    background: rgba(128, 124, 124, 0.2);
    padding:0px 20px;
    z-index: 9999;
   }
  .parallax{
   /* The image used */
    background-image: url(bg_header.jpg);
   /* Set a specific height */
    height: 500px; 
    position: relative;

   /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }
  .trans_layer{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in;
  }
   section{
    background-image: url(bg_header.jpg);
    background-size: cover;
    width: 100%;
    height: 740px;
    padding-top: 100px;
  }
  section > h1 {
    font-size: 70px;
    text-align: center;
    font-style: italic;
    color: black;
  }
  .box{
    margin-top: 20px;
    height: 1000px;
  }
  .icon{
    width: 280px;
    margin-left: 10%;
  }
  nav ul li{
    margin-left: 10px;
  }
  .navtext {
    color: black;
  }
  .upperImage{
    width: 55%;
    margin-top: 5%;
    box-shadow: 3px 3px 4px rgba(110, 110, 110, 0.3);
  }
  .upperText{
    width: 35%;
    display: inline-block;
    float: right;
    margin-right: 5%;
    margin-top: 5%;
    line-height: 0.85cm
  }
  .transparent_bg{
    background-color: rgba(170, 170, 170, 0.2);
    transition: background-color 0.5s ease-in;
  }
  .imgRight{
    width: 50%;
    margin-right: 3.5%;
    margin-top: 2%;
    display: inline-block;
    float: right;
    box-shadow: 3px 3px 4px rgba(110, 110, 110, 0.3);
  }
  .textLeft{
    margin-top: 90px;
    width: 50%;
    height: 360px;
    margin-left: 3.5%;
    line-height: 0.85cm;
    background-color: #eceff1;
    padding: 40px 120px 60px 40px; 
    color: #3f3f3f;
    border: 1px solid rgba(110, 110, 110, 0.3); 
  }
  .imgLeft{
    width: 50%;
    margin-left: 3.5%;
    margin-top: 2%;
    box-shadow: 3px 3px 4px rgba(110, 110, 110, 0.3);
    position: absolute;
    z-index: 10;
    left: 0;
  }
  .textRight{
    margin-top: 90px;
    height: 360px;
    width: 50%;
    margin-right: 3.5%;
    line-height: 0.85cm;
    background-color: #eceff1;
    padding: 40px 40px 100px 120px; 
    color: #3f3f3f;
    border: 1px solid rgba(110, 110, 110, 0.3); 
    float: right;
    display: inline-block;
  }
  .hide{
    display: none;
  }
  .card{
    width: 250px;
    height: 250px;
    background-color: rgba(207, 207, 207, 0.6);
    border-radius: 10px; 
    padding: 0px 5px;
  }
  .cardIcon{
    width: 200px;
  }
