 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

    *{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    }
    .fade-in {
    -webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
    .fade-ind1 {
      -webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
          animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
      }
    .fade-ind2 {
      -webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
          animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
        }
    .fade-ind3 {
      -webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3s both;
          animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3s both;
          }
    .slide-in-left {
    -webkit-animation: slide-in-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    .slide-in-leftd {
      -webkit-animation: slide-in-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 5s both;
              animation: slide-in-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 5s both;
      }
      .slide-in-leftd1 {
        -webkit-animation: slide-in-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
                animation: slide-in-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
        }
    .slide-in-right {
      -webkit-animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
              animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    .slide-in-rightd {
      -webkit-animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
              animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
    }
    
   nav{
    position: fixed;
    background: rgba(128, 124, 124, 0.2);
    padding:0px 20px;
    z-index: 9999;
   }
   .button{
    width: 20%; 
    background-color: #ef5350;
   }
  .parallax{
   /* The image used */
    background-image: url(img/bg_header.jpg);
   /* Set a specific height */
    height: 500px; 
    position: relative;

   /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }
  .trans_layer{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in;
  }
   section{
    background-image: url(img/bg_header.jpg);
    background-size: cover;
    width: 100%;
    height: 740px;
    padding-top: 100px;
  }
  section > h1 {
    font-size: 70px;
    text-align: center;
    font-style: italic;
    color: black;
  }
  .box{
    margin-top: 20px;
    height: 1000px;
  }
  .icon{
    width: 100%;
  }
  nav ul li{
    margin-left: 10px;
  }
  .navtext {
    color: black;
  }
  .upperImage{
    margin-top: 5%;
    width: 100%;
  }
  .upperText{
    margin-top: 5%;
    padding-right: 5%;
    padding-top: 5%;
    line-height: 0.85cm
  }
  .transparent_bg{
    background-color: rgba(170, 170, 170, 0.2);
    transition: background-color 0.5s ease-in;
  }
  .imgRight{
    width: 50%;
    margin-right: 3.5%;
    margin-top: 2%;
    display: inline-block;
    float: right;
    box-shadow: 3px 3px 4px rgba(110, 110, 110, 0.3);
  }
  .textLeft{
    margin-top: 90px;
    width: 50%;
    height: 100%;
    margin-left: 3.5%;
    line-height: 0.85cm;
    background-color: #eceff1;
    padding: 40px 120px 85px 40px; 
    color: #3f3f3f;
    border: 1px solid rgba(110, 110, 110, 0.3); 
  }
  .imgLeft{
    width: 50%;
    margin-left: 3.5%;
    margin-top: 2%;
    box-shadow: 3px 3px 4px rgba(110, 110, 110, 0.3);
    position: absolute;
    z-index: 10;
    left: 0;
  }
  .textRight{
    margin-top: 90px;
    height: 100%;
    width: 50%;
    margin-right: 3.5%;
    line-height: 0.85cm;
    background-color: #eceff1;
    padding: 40px 40px 85px 120px; 
    color: #3f3f3f;
    border: 1px solid rgba(110, 110, 110, 0.3); 
    float: right;
    display: inline-block;
  }
  .hide{
    display: none;
  }
  .card {
    height: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);  
    padding: 16px;
    text-align: center;
    color: black;
  }
  .element div{
    font-size: 20px;
    margin: auto;
  }

  footer{
    padding-top: 20px; 
    border: 1px solid rgba(110, 110, 110, 0.3); 
    display: block;
    width: 100%;
    background: #eceff1;
    margin-top: 35px;
  }
  .subscribe{
    margin-left: 10px;
    margin-top: 1px;
    background: transparent;
    border: 1px solid rgb(30, 31, 31);
    color:rgb(30, 31, 31);;
    padding: 12px 20px;
  }
  .subscribe:hover{
    border: 1px solid red;
    color:red;
    transition: 0.3s ease-in;
  }
  /* label color */
  .input-field label {
    color: black !important;
  }
  /* label focus color */
  .input-field input[type=email]:focus + label {
    color: red !important;
  }
  /* label underline focus color */
  .input-field input[type=email]:focus {
    border-bottom: 1px solid red!important;
    box-shadow: 0 1px 0 0 red!important;
  }
  /* valid color */
  .input-field input[type=email].valid {
    border-bottom: 1px solid red!important;
    box-shadow: 0 1px 0 0 red!important;
  }
  /* invalid color */
  .input-field input[type=email].invalid {
    border-bottom: 1px solid red!important;
    box-shadow: 0 1px 0 0 red!important;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: red!important;
  }
  .links{
    border-bottom: 1px solid rgb(30, 31, 31);
    transition: 0.5s ease-in;
    color:rgb(30, 31, 31);
    text-align: center;
    display: inline-block;
  }
  .cool-link {
    display: inline-block;
    color: rgb(30, 31, 31);
    text-decoration: none;
    font-size: 25px;
    margin: 0px 5px 15px 5px;
  }
  .cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(30, 31, 31);
    transition: width .3s;
}
  .red{
    color:red;
  }
  .black{
    color: black;
  }

  .cool-link:hover::after {
    width: 100%;
    transition: width .3s;
  }
  .btnTop{
    background: transparent;
    border: 1px solid rgb(30, 31, 31);
    padding: 10px 10px;
    color: rgb(30, 31, 31);
  }
  .btnTop:hover{
    border: 1px solid red;
    color: red;
    transition: 0.2s ease-in;
  }
  .brand-logo img{
    width: 275px;
    margin-left: -9px;
  }
  

  
  @media screen and (max-width: 600px) {
    .parallax{
      color: transparent;
      background: transparent;
    }
    .trans_layer{
      padding-top: 30px; 
      height: 152%;
      position: relative;
    }
    .transparent_bg{
      top: 0;
    }
    .card{
      width: 100%;
      height: 150px;
      margin: 10px 3.5% 0px 3.5%;
      padding: 0.01%;
    }
    .card h1{
      font-size: 30px;
    }
    .card h4{
      font-size: 20px;
    }
    .upperImage{
      margin-top: 50px;
    }
    .imgLeft{
      width: 96%;
      display: block;
      margin: 20px 2% 0px 2%;
      z-index: 0;
      position: relative;
    }
    .textRight{
      display: block;
      width: 96%;
      height: 100%;
      margin: 0px 2% 0px 2%;
      padding: 20px 15px 15px 15px;
    }
    .imgRight{
      width: 96%;
      display: block;
      margin: 20px 2% 40px 2%;
      z-index: 0;
      position: relative;
    }
    .textLeft{
      display: block;
      width: 96%;
      height: 100%;
      margin: 30px 2% 0px 2%;
      padding: 30px 15px 15px 15px;
    }
    .link1{
      width: 100%;
    }
    .link2{
      width: 100%;
    }
    .brand-logo img{
      width: 125%;
    }
  }
  @media screen and (min-width: 601px) and (max-width: 991px) {
    .brand-logo img{
      width: 92%;
    }
    .parallax{
      height: 152%;
    }
    .trans_layer{
      padding-top: 30px; 
      height: 152%;
      position: relative;
    }
    .transparent_bg{
      top: 0;
    }
    .card{
      width: 100%;
      height: 200px;
      margin: 10px 3.5% 0px 3.5%;
      padding: 0.01%;
    }
    .card h1{
      font-size: 40px;
    }
    .card h4{
      font-size: 30px;
    }
    .imgLeft{
      width: 96%;
      display: block;
      margin: 20px 2% 0px 2%;
      z-index: 0;
      position: relative;
    }
    .textRight{
      display: block;
      width: 96%;
      height: 100%;
      margin: 0px 2% 0px 2%;
      padding: 20px 15px 15px 15px;
    }
    .imgRight{
      width: 96%;
      display: block;
      margin: 20px 2% 40px 2%;
      z-index: 0;
      position: relative;
    }
    .textLeft{
      display: block;
      width: 96%;
      height: 100%;
      margin: 30px 2% 0px 2%;
      padding: 30px 15px 15px 15px;
    }
  }